<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.yusufteker.planora</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>planora</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Planora needs calendar access to export your tasks and events to your calendar.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Planora needs calendar access to export your tasks and events to your calendar.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Planora needs calendar access to export your tasks and events to your calendar.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
</dict>
</plist>
